*/.vs/
*/bin/
*/obj/
backup.txt
apikey.txt
/.vs/Dalle3
/bin/Debug
/obj
/organization.txt
/logs/log.txt
/Log.cs
/move.py
/logs/logx.txt
/.vs/ProjectEvaluation
/UI/Dalle3UI/.vs
/UI/Dalle3UI
/logs/log2.txt
/Dalle3Exe/bin/Debug
/Dalle3Exe/obj
/Dalle3Exe/logs
/Dalle3Exe/organization.txt
/dead-ui-stuff-from-csproj.txt
/Ideogram/Ideogram/bin/Debug
/Ideogram/Ideogram/obj
/UI/.vs
/UI/bin/Debug
/UI/obj
/Temp.txt
